/* * {
    border: 1px solid blue;
} */

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background-color: #363636;
}

/* .button-grid, */
.calculator {
    display: grid;
    align-content: center;
    justify-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

#clearBtn,
#deleteBtn {
    grid-column: span 2;
}

.screen-display {
    grid-column: 1 / -1;
    background-color: #aaa;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.screen-display .screen-previous {
    color: #464646;
    font-size: 1.5rem;
}

.screen-display .screen-current {
    color: #363636;
    font-size: 2.5rem;
}

.operator,
.number,
.btn,
.decimal {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid #333;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}

button:hover {
    background-color: #898989;
    transition: all 0.2s;
}